* {
    margin: 0;
    padding: 0;
    font-family: "Popins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #9013fe;
    align-items: center;
    justify-content: center;
    display: flex;
}

form {
    display: none;
}

#content {
    background-color: #fafafa;
    width: 800px;
    height: 1560px;
    padding-top: 2rem;
    padding-left: 5rem;
    margin-left: 4rem;
    border-radius: 8px;
    margin-top: 0.5rem;
}

#form_red {
    margin-top: 2.5rem;
}

#frm_prova {
    margin-bottom: 1rem;
}

#btn_quest,
#btn_red,
#btn_home {
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    border-style: hidden;
    border-radius: 5px;
    border: none;
    background-color: #9013fe;
    color: #ffe9e3;
    transition-duration: all 0.3s ease;
    cursor: pointer;
    width: 150px;
    margin-right: 10%;
    margin-bottom: 0.5rem;
}

#btn_quest:hover,
#btn_red:hover,
#btn_home:hover {
    background-color: #FFFF;
    color: #9013fe;
}

#AlertP,
#alertR {
    color: #FF243F;
}

.btnF {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    border-style: hidden;
    border-radius: 5px;
    border: none;
    background-color: #9013fe;
    color: #ffe9e3;
    transition-duration: all 0.3s ease;
    cursor: pointer;
    width: 150px;
    margin-left: 30%;
    margin-right: 30%;
}

.btnF:hover {
    background-color: #FFFF;
    color: #9013fe;
}

.inputQ {
    margin-bottom: 0.1rem;
    width: 90%;
}

.inputR,
.inputRed {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    width: 90%;
}

select {
    width: 90%;
}

input[type='radio'] {
    margin-left: 0.4rem;
}

.inputQ {
    overflow-y: scroll;
    height: 100px;
    resize: none;
}

.inputR {
    overflow-y: scroll;
    height: 230px;
    resize: none;
}

label {
    font-weight: bold;
}